* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: "ocr-a-std", monospace;
  font-style: normal;
}

span {
  color: white;
}

h1{
  padding-left: 5vw;
  padding-top: 6vw;
  font-size: 60px;
}

h4{
  padding-left: 13vw;
  padding-top: 1vw;
  padding-bottom: 6vw;
  font-size: 15px;
}

.Hdes{
  position: absolute;
  padding-left: 60vw;
  padding-top: 7vw;
}

header {
  color: white;
  background-size: 100%;
  background-position: center, center;
  background-repeat: no-repeat;

}

.Bookmark1 {
  transform: skew(20deg);
}

.sidenav1,
.sidenav2,
.sidenav3 {
  height: 30vw;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 17.9vw;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav1 {
  background-color: #934ed9;
}

.sidenav2 {
  background-color: #5861e0;
}

.sidenav3 {
  background-color: #5990d9;
}

.sidenav1 a,
.sidenav2 a,
.sidenav3 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav1 a:hover,
.sidenav2 a:hover,
.sidenav3 a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: relative;
  top: 0;
  margin-right: 10vw;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.row {
  display: flex;
}

.column {
  flex: 30%;
  padding: 30px;
}

.columning{
  flex: 50%;
  padding: 30px;
}

.columninging {
  flex: 22%;
  padding: 30px;
}

figcaption {
  font-size: 26px;
  padding-right: 8vw;
  text-align: center;
}

.caption3{
  padding-right: 10vw;
}

figure{
  padding-top: 3vw;
  color: white ;
  padding-right: 5vw;
}

.bookmark{
  transform: rotate(90deg);
  position: absolute;
}

span{
  transform: rotate(90deg);
  position: absolute;
  height: 8vw;
  
}

.PortfolioMark{
margin-top: 3vw;
margin-left: -3.5vw;
background-color: #934ed9;
}

.ProjectsMark{
margin-top: 13vw;
margin-left: -3vw;
background-color: #5861e0;
}

.AboutMeMark{
margin-top: 23vw;
margin-left: -3vw;
background-color: #5990d9;
}

.closebtn{
  position: absolute;
  margin-left: 95.5vw;
  margin-top: 2vw;
}

.Ten1
{
  position: absolute;
  transform: rotate(90deg);
  padding-top: 10vw;
  padding-left: 10vw;
}

.Ten2{
  position: absolute;
  transform: rotate(270deg);
  padding-top: 50vw;
  padding-left: 30vw;
}

.Ten3{
  position: absolute;
  transform: rotate(90deg);
  margin-top: 20.71vw;
  margin-left: 92vw;
}

.Ten4{
  position: absolute;
  transform: rotate(180deg);
  margin-top: 40.71vw;
  margin-left: 92vw;
}

.sidenav2 p{
  padding-right: 25vw;
  color: white;
  padding-top: 2vw;
  font-size: 20px;
}

.sidenav2 figure{
  padding-left: 5vw;
  padding-top: 5vw;
}

.sidenav3 p{
  color: white;
  padding-top: 0.5vw;
  font-size: 20px;
}

.sidenav3 h5{
  color: white;
  padding-top: 0.5vw;
  font-size: 20px;
}

.sidenav3 h6{
  color: white;
  padding-top: 0.5vw;
  font-size: 20px;
}

.sidenav3 h6{
  padding-top: 1vw;
}

.sidenav3 h3{
  font-size: 25px;
}

