@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	overflow: scroll;
} 

header{
    color: white;
    background-size: 100%;
    background-position: center,center;
	background-image: url("../images/Header.png");
    background-repeat: no-repeat;
    height: 14vw;
    background-color: #870000;
}

h1{
	font-size: 40px;
	padding-left: 10vw;
	padding-top: 5vw;
	font-family: "Oswald", sans-serif;
}

h2{
	font-size: 20px;
	padding-left: 10vw;
	font-family: "Oswald", sans-serif;
}

div{
    background-size: 100%;
    background-position: center,center;
    background-repeat: no-repeat;
    height: 17vw;
    background-color: #000000;
	color: white;
	padding-left: 20vw;
}

h4{
	padding-bottom: 1vw;
	margin-left: -5vw;
}

.AboutMe{
	font-family: "Oswald", sans-serif;
	padding-bottom: -2vw;
	margin-left: -5vw;
}	


div2{
    background-size: 100%;
    background-position: center,center;
    background-repeat: no-repeat;
    height: 17vw;
    background-color: #100036;
	color: white;
}

h3{
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	margin-left: -20vw;
}

h4{
	font-size: 30px;
}

.row{
	display:flex;
}

.rowing{
	display: flex;
}

.column{
	flex: 50%;
	padding: 5px;
}

.columning{
	
	padding: 5px;
	padding-top: 5vw;
}

figcaption{
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	margin-left: -7vw;
	margin-top: 2vw;
}

.caption2{
	font-family: "Oswald", sans-serif;
	margin-top: 2.6vw;
	padding-left: 4vw;
}

.caption3{
	font-family: "Oswald", sans-serif;
	padding-left: 7vw;
}

figure{
	padding-left: 5vw;
	
}

.SoloProject{
	font-family: "Oswald", sans-serif;
}


aside{

	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	background-color: #000000;
	color:white;
	text-align: center;
}

.SoloProject{
	margin-left: -5vw;
}




@media only screen and (max-width: 750px) {

	h1{
		font-size: 20px;
	}

	h2{
		font-size: 10px;
	}

	h3{
		font-size: 15px;
	}

	h4{
		font-size: 15px;
	}

	.SoloProject{
		font-size: 12px;
	}

	.AboutMe{
		font-size: 15px;
	}

	figcaption{
		font-size: 10px;
	}

	.caption2{
		font-size: 10px;
	}

	.caption3{
		font-size: 10px;
	}

	aside{
		height: 5%;
		font-size: 12px;
	}

	.row{
		padding-top: 3vw;
	}

}
	